{extends file="layout_2cols.tpl"}
{block name="content"}
<div class="cms-content">
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>
        Luis Eduardo Rivera <br />
        Lubeckerstr. 13 <br />
        10559 Berlin <br />
    </p>
    <h2>Kontakt:</h2>
    <table>
        <tbody>
        <tr>
            <td>Telefon:</td>
            <td>+49 16094684993</td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td>luardo@styluv.de</td>
        </tr>
        </tbody>
    </table>
    <h2>Quellenangaben für die verwendeten Bilder und Grafiken:</h2>
    <ul>
        <li><a href="http://www.shutterstock.com/pic">http://www.shutterstock.com/pic</a>-132961508/stock-photo-choice-of-fashion-clothes-of-different-colors-on-wooden-hangers.html
        </li>
        <li><a href="http://www.shutterstock.com/pic">http://www.shutterstock.com/pic</a>-153374420/stock-photo-new-york-ny-september-a-model-walks-the-runway-at-the-marissa-webb-spring-fashion-show.html
        </li>
        <li><a href="http://www.shutterstock.com/pic">http://www.shutterstock.com/pic</a>-159504995/stock-photo-new-york-ny-september-a-model-walks-the-runway-at-the-tommy-hilfiger-women-s-fashion-show.html
        </li>
        <li><a href="http://www.shutterstock.com/pic">http://www.shutterstock.com/pic</a>-169096478/stock-photo-new-york-ny-september-model-walks-the-runway-at-the-project-runway-show-during-spring.html
        </li>
        <li><a href="http://www.shutterstock.com/pic">http://www.shutterstock.com/pic</a>-166246736/stock-photo-new-york-ny-september-a-model-walks-the-runway-at-the-ralph-lauren-fashion-show-during.html
        </li>
    </ul>
    Quelle: <em><a href="http://www.e-recht24.de/impressum-generator.html" rel="nofollow">http://www.e-recht24.de</a></em>

    <hr/>

    <h1>Haftungsausschluss (Disclaimer)</h1>
    <h3>Haftung für Inhalte</h3>
    <p>

        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
        übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf
        eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
        jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

    <h3>Haftung für Links</h3>
    <p>

        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
        Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
        wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
        Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
        jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
        Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>

    <h3>Urheberrecht</h3>
    <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
        Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
        Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit
        die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
        Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
        Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </p>


</div>

{/block}
