// Customs by Luardo, extends Foundation scss
@import "global";
//
// @variables ddf
//

$font-color: #333333;
$div-bg: #ffffff;
$font-size: 12px;
$product-padding-bottom: 5px;


// Title Area
.title-area {
  position: relative;
  margin: 0;
}

.name {
  height: $topbar-height;
  margin: 0;
  font-size: $rem-base;
  padding-top: 7px;
  width: 140px !important;

}



.wrapper {
  max-width: 1000px;
  min-width:  upper-bound($large-range);
  margin: 0 auto;
  padding: 0 2px;

  @media #{$small-only} {
    min-width: $min-width;
    max-width: 480px;
  }


  @media #{$medium-only} {
    min-width: 747px;
    max-width: 747px;
  }

  @media #{$large-only} {
    min-width:  996px;
    max-width:  996px;
  }

}

.content {
  margin-top: 20px;
}




.login-form{
  padding: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
   h2{
     font-size: 18px;
     border-bottom: 1px solid #cccccc;
     margin-bottom: 15px;
   }
}
.products {
  .panel{
    color: $font-color;
    background-color: $div-bg;
    font-size: $font-size;
    padding: 5px;
    margin: -15px 0px 15px;
    border: none;
    text-align: center;
    position: relative;
    height: 50px;
    overflow: hidden;



    .product-name{
      font-weight: normal;
      font-size: $font-size - 1;
      padding-bottom: $product-padding-bottom;
    }
    .product-brand{
      font-weight: bold;
      font-size: $font-size - 2;
      padding-bottom: $product-padding-bottom;
      text-transform: uppercase;
    }
    .product-price{
      font-weight: normal;
      font-size: 11px;
      font-weight: bold;
      padding-bottom: $product-padding-bottom;
      span.old-price {
        text-decoration: line-through;
        font-size: 11px;
      }
    }
  }
}

.homepage-howto {

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  p {
    font-size: 15px;
    font-style: italic;
    text-align: center;
  }
  img {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
}

#firstModal {
  .brands-collection {
    .columns {
      padding: 0;
    }
  }
}

.cms-content {
  h1 { font-size: 24px; }
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }
}

.brands-collection {
  border-bottom: 1px solid #cccccc;
  margin-bottom:12px;

  div.brand {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 0;
  }
  .btn-follow {
    padding-top: 8px !important;
    padding-bottom: 8px  !important;
  }
}

.pagination {
  margin: 25px 0;
  display: block;
  a {
    background: #efefef;
    padding: 4px 7px;

    &:hover {
      background-color: #000000;
      color: #f5f5f5;
    }
  }
}

.sidebar {
  h5 {
    font-size: 13px;
  }
}

.ad-block {
  margin-bottom: 15px;
}

footer {
  p {
    font-size: $font-size-small;
  }
  ul {
    font-size: $font-size-small;
  }
}

.wizard {
  .th:hover{ border-color: #5a0099;}
}



