
@import "global";

@mixin rangecolor {
  background-color: rgba(0, 0, 0, 0.15);
}

@mixin rangeradius {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

$range: 6px;
$bgcolor: #000;
$rangecolor: rgba(0, 0, 0, 0.15);
$rangecolorhover: rgba(0, 0, 0, 0.85);
$slidercolor: rgba(0, 0, 0, 0.45);


  /*
  filter scrollbar
  */

  .mCustomScrollbar {
    -ms-touch-action: none;
    touch-action: none; /* MSPointer events - direct all pointer events to js */

    //height: 140px;
    margin-bottom: 5px;
    overflow: hidden;

    @media #{$small-only} {
      margin-bottom: 0px;
      height: 160px;
    }

    &.mCS_no_scrollbar {
      -ms-touch-action: auto;
      touch-action: auto;
    }

    .mCustomScrollBox {
      /* contains plugin's markup */
      position: relative;
      overflow: hidden;
      height: 100%;
      max-width: 100%;
      outline: none;
      direction: ltr;

      .mCSB_inside > .mCSB_container {
        margin-right: 30px;
      }
      .mCSB_outside + .mCSB_scrollTools {
        right: -26px;
      }
      /* scrollbar position: outside */
      .mCSB_scrollTools {
        /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
        position: absolute;
        width: 16px;
        height: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0;

        opacity: 0.75;
        filter: "alpha(opacity=75)";
        -ms-filter: "alpha(opacity=75)";
        -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: opacity .2s ease-in-out, background-color .2s ease-in-out;

        .mCSB_draggerContainer {
          /* contains the draggable element and dragger rail markup */
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: auto;

          .mCSB_draggerRail {
            background-color: $bgcolor;
            background-color: $rangecolor;
            width: $range;
            height: 100%;
            margin: 0 auto;
            @include rangeradius();

          }

          .mCSB_dragger {
            /* the draggable element */
            cursor: pointer;
            width: 100%;
            z-index: 1;
            height: 30px;

            &.mCSB_dragger:active .mCSB_dragger_bar,
            &.mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
              background-color: rgba(0, 0, 0, 0.9);
            }

            .mCSB_dragger_bar {
              width: $range;
              position: relative;
              height: 100%;
              margin: 0 auto;
              background-color: $rangecolorhover;
              @include rangeradius();
              text-align: center;
            }
          }
        }
      }
    }
    .mCSB_container {
      /* contains the original content */
      overflow: hidden;
      width: auto;
      height: auto;
    }
  }
