
.ico-heart {
  width: 36px;
  height: 40px;
}
.ico-heart:before,
.ico-heart:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0;
  width: 20px;
  height: 32px;
  background: #cccccc;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;

  :hover {
    background: red;
  }
}
.ico-heart:after {
  left: -20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}