.landing-page
{
  .header-banner {
    background: url('../img/samples/001.jpg') no-repeat scroll left center rgba(255, 255, 255, 0);
    border-style: none;
    display: block;
    height: 600px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    .header-content {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      color: #FFFFFF;
      text-align: center;



      .title-box {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
        border-style: none;
        display: block;
        height: 600px;
        position: absolute;
        top: -1px;
        width: 429px;
        z-index: 40;

        .logo-container {
          display: block;
          margin-top: 60px;
          margin-bottom: 40px;
          width: 100%;
          .logo {
            display: block;
            margin: 0 auto;
            position: relative;
            width: 200px;
            z-index: 50;
          }

        }


        .slogan {
          display: block;
          margin: 35px 20px;
          h3 {
            color: #FFFFFF;
            text-align: center;
            font-size: 26px;
          }

          p {
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;

          }

        }

        small{
          font-size: 12px;
          margin-top: 8px;
          color: #FFFFFF;
          a {
            color: #FFFFFF;
            text-decoration: underline;

          }
        }

        .social-media {

          margin: 30px 0px;
          span {
            margin-right: 2px;

          }
        }



        ul {
          margin: 30px auto;
          display: table;
          list-style: none;
          width: 300px;
          li {
            font-size: 18px;
            padding-bottom: 5px;
            text-align: center;

          }
        }


        input.call-to-action {
          background: #5a0099;
          border-radius: 5px;
          margin: 15px auto;
          border-style: none;
          box-shadow: 0 1px 0 #3a0057 inset, 0 -1px 2px #3a0057 inset;
          color: #fff;
          display: block;
          font-size: 18px;
          font-family: Arial, Helvetica, "Helvetica Neue", "Helvetica", sans-serif;
          height: 52px;
          line-height: 12px;
          min-width: 170px;
          text-transform: uppercase;
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
          z-index: 41;
          cursor: pointer;

          &:hover {
            background: scale_color(#5a0099, $lightness: 10%);
          }
        }

      }


    }




  }
}