.quiz {
  background: #FFFFFF;
  width: 100%;

  .quiz-content {
    height: 400px;
    overflow: hidden;
    padding: 10px;
  }

  @media #{$small-only} {
    min-width: 320px;
    max-width: 480px;
  }

  @media #{$medium-only} {
    min-width: 320px;
    max-width: 480px;
  }

  @media #{$large-only} {
    min-width: 747px;
    max-width: 747px;
  }

  h3 {
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    text-transform: none;
    margin: 0px 0px 15px;
    font-size: 25px;
  }

  .stylebox {
    width: 23.3%;
    float: left;
    background-color: #cccccc;
    border: 1px solid #FFFFFF;
    margin-right: 1%;

    @media #{$small-only} {
      width: 30%;
    }

    h6{
      padding: 2px 0;
    }



    &:hover {
      background-color: #b8128f;
       h6{
         color: #FFFFFF;
       }
    }

    p {
      font-size: 11px;
      font-style: italic;
      color: #FFFFFF;
      padding: 0 8px;
    }

    img {
      padding: 0 1px;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      font-size: 16px;
      margin-bottom: 10px;
      display: inline !important;
    }

    img:hover {
      -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;
    }

  }

  .markenbox {
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin-bottom: 15px;
    ul {
      padding: 0 3px;
      margin: 10px 0;
      li {
        width: 48%;
        background-color: #efefef;
        margin-bottom: 15px;
        display: inline-table;
        min-height: 60px;
        padding: 10px;

        @media #{$medium-only} {
          width: 49%;
        }
        @media #{$small-only} {
          width: 100%;
        }

        label {
          display: inline;
        }

        .title-brand {
          display: table;
          width: 100%;
        }
        span.brand {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }

        button.follow {
          float: right;
          padding: 7px 13px;
          font-size: 13px;
          margin-bottom: 5px;
        }

        .itembox {

          .item {
            height: 75px;
            overflow: hidden;
            float: left;
            width: 25%;
            padding: 5px 2px;

            img {

            }
          }

        }


      }
    }



  }

  .nav-buttons {
    width: 100%;
    margin-top: 10px;
    display: block;

    button {
      margin-bottom: 0px;
    }
  }


  input[type=radio],  input[type=checkbox]{
    display:none;
    &:checked +img {
      opacity: 0.6; filter: alpha(opacity=60);
      outline: 4px solid #cccccc;
    }

    &:checked + div {
      opacity: 0.6; filter: alpha(opacity=60);
      outline: 4px solid #cccccc;
    }
  }


   #status {
    height: 35px;
    margin: 20px auto;
    padding-left: 25px !important;
     display: table;
     margin-bottom: 15px;
     li {
       color: #FFFFFF;
       background-color: #000000;
       float: left;
       list-style-image: none;
       list-style-type: none;
       padding: 10px 30px;
       text-transform: uppercase;
       &.active {
         background-color: #B8128F;
         font-weight: normal;
       }
     }
  }


  .progress {
    .percent {
      position: absolute;
      font-size: 11px;
      color: #FFFFFF;
      font-weight: bold;
      padding: 5px;
    }
  }


  .new-member {
    border: 1px solid #333333;
    h3 { font-size: 16px; margin: 10px 0; }

    ul {
      margin: 0 auto !important;
      padding: 0 !important;

      li {
        list-style-image: none;
        list-style-type: none;
        margin-top: 5px;
        margin-bottom: 25px;
      }
    }

     label {
      font-size: 14px;
      margin-bottom: 10px;
    }
    label strong {
      color: #778899;
      position: relative;
      top: -1px;
    }
    label em {
      color: #666666;
      font-size: 11px;
      font-style: normal;
    }

     select {
      border: 1px solid #CCCCCC;
      padding: 4px;
      width: 94%;
    }
     label span {
      color: #B8128F;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      top: 4px;
    }
    .double label {
      float: left;
      width: 50%;
    }
     .double .text {
      width: 93%;
    }
    .clearfix {
      clear: left;
      padding-top: 10px;
    }
    .right {
      float: right;
    }

    button {
      display: inherit;
      margin: 0 auto 15px;
      width: 274px;
    }
  }

  .benefits{
    h3 { font-size: 16px; margin: 10px 0; }

    ul {

      li {
        list-style: square;
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }



}