
.navigation {
  width: 100%;
  background: #FFFFFF;
  display: block;
  z-index: 999;
  border-bottom: 2px solid #efefef;
  margin-bottom: 15px;


  ul {
    margin: 0 auto;
    display: table;

   > li {
      display: inline-block;
      text-align: center;
      padding: 12px 2px;
      max-width: 150px;
      margin: 0 25px;

     &.active {
       font-weight: bold;
       border-bottom: 3px solid #000000;
     }

     &:hover {
       border-bottom: 3px solid #000000;
     }

     ul{
       display: block;
       clear: both;
       width: 100%;
       padding: 10px 15px;

       li {
         clear: both;
         padding: 2px 0px;
         text-align: left;
         font-size: 10px;
         font-weight: normal;
         margin: 0;
         list-style-type: none;
         display: block;
         a {
           text-transform: capitalize;
         }
         &:hover {
           background: none;
           border-bottom: none;
           text-decoration: underline;
         }
       }
     }

     .box-filter {
       background-color: #FFFFFF;
       height: 205px;
       position: absolute;
       width: 175px;
       z-index: 105;
       margin-top: 13px;
       border: 1px solid #cccccc;
       left: -10000px;



        &.active {
          left: auto;
        }


       .search-filter {
         padding: 5px 15px;
         input {
           font-size: 1em;
           height: 25px;
           margin: 5px auto;
           padding: 0 0 0 6px;
           width: 100%;
         }
       }

      }


      button {
        padding: 0px;
        background: none;
        font-size: 13px;
        color: #333333;
        margin: 0px;
      }

      a {
        font-size: 13px;
        text-transform: uppercase;



      }
      &:hover {
        .box-filter {
          left: auto;
        }
      }

    }

  }


}

.showroom-header{
  padding-top: 10px;
  background: #FFFFFF;

}

.products
{
  .markenbox {
    width: 100%;
    margin-bottom: 15px;
    h3,h4 {
      font-size: 13px;
      font-weight: bold;
    }

    input[type=radio],  input[type=checkbox]{
      display:none;
      &:checked +img {
        opacity: 0.6; filter: alpha(opacity=60);
        outline: 4px solid #cccccc;
      }

      &:checked + div {
        opacity: 0.6; filter: alpha(opacity=60);
        outline: 4px solid #cccccc;
      }
    }


    ul {
      padding: 0 3px;
      margin: 10px 0;
      li {
        width: 32%;
        background-color: #ffffff;
        margin: 0 6px 15px;
        display: inline-table;
        min-height: 60px;
        padding: 10px;

        @media #{$medium-only} {
          width: 49%;
        }
        @media #{$small-only} {
          width: 100%;
        }

        label {
          display: inline;
        }

        .title-brand {
          display: table;
          width: 100%;
          border-bottom: 1px solid #333333;
        }
        span.brand {
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
        }

        button.follow {
          float: right;
          padding: 5px 35px;
          font-size: 12px;
          margin-bottom: 5px;
        }

        .itembox {

          .item {
            height: 75px;
            overflow: hidden;
            float: left;
            width: 25%;
            padding: 5px 2px;

            img {

            }
          }

        }


      }
    }



  }
}
.box {
  width: 225px;
  margin-left: 15px;
  margin-bottom: 40px;
  background: #FFFFFF;
  display: block;
  float: left;
  border: 1px solid #efefef;
  max-height: 280px;
  position: relative;

  .love-box {
    left: 60px;
    display: none;
    position: absolute;
    bottom: 75px;
    z-index: 101;

    button.luv-it
    {
      background: #B8128F;
      font-weight: bold;
      &:hover {
        background: scale_color(#B8128F,  $lightness: 35%);
      }
    }
    button.buy-it
    {
      font-weight: bold;
      &:hover {
        background: scale_color(#333333,  $lightness: 35%);
      }
    }
  }
  .image-container {
    margin: 0 auto;
    height: 260px;
    max-width: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      min-height: 100%;

    }

  }

  &:hover {
    img { opacity: 0.7;}
    box-shadow: 0px 2px 4px 0px #cccccc;

    .love-box {
      display: block;
    }
  }

  .image {
    padding: 15px;
  }

  &:hover {
    .panel{
      display: block;
    }

  }

}


.sidebar {

  h3,h4,h5 {
    border-bottom: 2px solid #333333;
    padding-bottom: 5px;
  }

  .side-nav {

    li {
      font-size: 12px;
      margin-bottom: 3px;
    }

  }

  .markenbox {
    width: 100%;
    overflow: auto;


    input[type=radio],  input[type=checkbox]{
      display:none;
      &:checked +img {
        opacity: 0.6; filter: alpha(opacity=60);
        outline: 4px solid #cccccc;
      }

      &:checked + div {
        opacity: 0.6; filter: alpha(opacity=60);
        outline: 4px solid #cccccc;
      }
    }


    ul.side-nav {

      li{

        a{
          text-transform: uppercase;
        }

      }
    }


    ul {
      padding: 0 3px;
      margin: 10px 0;
      li {
        width: 100%;
        border: 1px solid #c0c0c0;
        margin-bottom: 15px;
        display: inline-table;
        padding: 5px;

        @media #{$medium-only} {
          width: 49%;
        }
        @media #{$small-only} {
          width: 100%;
        }

        label {
          display: inline;
        }

        .title-brand {
          display: table;
          width: 100%;
        }
        span.brand {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }

        button.follow {
          padding: 7px 13px;
          font-size: 13px;
          margin-bottom: 5px;
          width: 100%;
        }




      }
    }



  }
}