@import "compass/utilities/sprites";
@import "compass/css3/background-size";

//normal sprite
$ico-sprite-base-class: ".ico-sprite-base";
$ico-layout: smart;
$ico-sprite-dimensions: true;
@import "ico/*.png";
@include all-ico-sprites;

.ico-sprite-base {
  display: inline-block;
}