
#wizard {
  border: 5px solid #778899;
  font-size: 12px;
  height: 650px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  background-color: white;

  .items {
    clear: both;
    position: absolute;
    width: 20000em;
  }

  .page {
    float: left;
    padding: 20px 30px;
    width: 970px;
  }

  h2 {
    border-bottom: 1px dotted #CCCCCC;
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0 0;
    padding-bottom: 15px;
  }

  ul {
    margin: 0 auto !important;
    padding: 0 !important;
  }

  li {
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  label {
    font-size: 16px;
    margin-bottom: 10px;
    strong {
      color: #778899;
      position: relative;
      top: -1px;
    }
    em {
      color: #666666;
      font-size: 11px;
      font-style: normal;
    }
    span {
      color: #B8128F;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      top: 4px;
    }
  }

  select {
    border: 1px solid #CCCCCC;
    padding: 4px;
    width: 94%;
  }

  .double {
    label {
      float: left;
      width: 50%;
    }
    .text {
      width: 93%;
    }

  }

  .clearfix {
    clear: left;
    padding-top: 10px;
  }

  .right {
    float: right;
  }

  input[type=radio], input[type=checkbox]{
    display:none;
  }

  input[type=radio]:checked + img, input[type=checkbox]:checked + div{
    opacity: 0.6; filter: alpha(opacity=60);
    outline: 4px solid #cccccc;

  }

  img:hover {
    -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;
  }

  .error {
    border: 1px solid #FF0000;
  }

  #status {
    height: 35px;
    margin: 0 auto;
    padding-left: 25px !important;
  }

  li {
    color: #FFFFFF;
    background-color: #000000;
    float: left;
    list-style-image: none;
    list-style-type: none;
    padding: 10px 30px;
    text-transform: uppercase;
    &.active {
      background-color: #B8128F;
      font-weight: normal;
    }
  }

}

#drawer {
  border-bottom: 2px solid #778899;
  display: none;
  font-size: 18px;
  left: 0;
  overflow: visible;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}