.chanel, .gucci, .tomford, .kingamathe, .yvessaintlaurent, .chloe, .untitled10, .marcjacobs, .lacome, .louisvuitton, .canali, .fendi, .jimmychoo, .dior, .babydior, .christiandior, .dolcegabbana, .danielhechter, .joop, .lanvin, .zara, .moschino, .calvinklein, .robertocavalli, .burberry, .giorgioarmani, .isseymiyake, .missoni, .balenciaga, .bottegaveneta, .provinciadibergamo, .ralphlauren, .etro, .valentino, .prada, .untitled40, .paulsmith, .laprairie, .lamer, .habitat, .esteelauder, .loewe, .johngalliano, .pollini, .agentprovocateur, .vogue, .cartier, .christianlacroix, .lagerfeld, .alexandermqueen, .veuveclicquot, .gmund, .dkny, .moetchandon, .marykay, .renelezard, .provinciadibergamo, .dufferstgeorge {
    display: inline-block;
    background-image: url(../img/spritebox-sprite.png);
    background-repeat: no-repeat
}

.chanel {
    background-position: -24px -112px;
    height: 60px;
    width: 92px
}

.gucci {
    background-position: -120px -112px;
    height: 56px;
    width: 108px
}

.tomford {
    background-position: -232px -112px;
    height: 56px;
    width: 112px
}

.kingamathe {
    background-position: -344px -112px;
    height: 56px;
    width: 180px
}

.yvessaintlaurent {
    background-position: -520px -108px;
    height: 60px;
    width: 116px
}

.chloe {
    background-position: -636px -120px;
    height: 44px;
    width: 72px
}

.untitled10 {
    background-position: -28px -200px;
    height: -16px;
    width: 124px
}

.marcjacobs {
    background-position: -24px -172px;
    height: 32px;
    width: 140px
}

.lacome {
    background-position: -164px -172px;
    height: 28px;
    width: 112px
}

.louisvuitton {
    background-position: -272px -172px;
    height: 24px;
    width: 116px
}

.canali {
    background-position: -384px -172px;
    height: 24px;
    width: 128px
}

.fendi {
    background-position: -508px -172px;
    height: 24px;
    width: 72px
}

.jimmychoo {
    background-position: -580px -172px;
    height: 28px;
    width: 100px
}

.dior {
    background-position: -20px -208px;
    height: 32px;
    width: 56px
}

.babydior {
    background-position: -76px -208px;
    height: 32px;
    width: 92px
}

.christiandior {
    background-position: -168px -208px;
    height: 32px;
    width: 96px
}

.dolcegabbana {
    background-position: -264px -208px;
    height: 32px;
    width: 128px
}

.danielhechter {
    background-position: -392px -208px;
    height: 36px;
    width: 116px
}

.joop {
    background-position: -512px -216px;
    height: 24px;
    width: 76px
}

.lanvin {
    background-position: -592px -216px;
    height: 20px;
    width: 92px
}

.zara {
    background-position: -580px -260px;
    height: 28px;
    width: 72px
}

.moschino {
    background-position: -512px -260px;
    height: 28px;
    width: 72px
}

.calvinklein {
    background-position: -412px -260px;
    height: 28px;
    width: 100px
}

.robertocavalli {
    background-position: -312px -256px;
    height: 32px;
    width: 100px
}

.burberry {
    background-position: -164px -260px;
    height: 24px;
    width: 140px
}

.giorgioarmani {
    background-position: -20px -260px;
    height: 24px;
    width: 140px
}

.isseymiyake {
    background-position: -24px -300px;
    height: 24px;
    width: 156px
}

.missoni {
    background-position: -192px -300px;
    height: 24px;
    width: 76px
}

.balenciaga {
    background-position: -276px -304px;
    height: 20px;
    width: 104px
}

.bottegaveneta {
    background-position: -392px -304px;
    height: 24px;
    width: 136px
}

.provinciadibergamo {
    background-position: -532px -304px;
    height: 24px;
    width: 152px
}

.ralphlauren {
    background-position: -280px -348px;
    height: 28px;
    width: 152px
}

.etro {
    background-position: -448px -344px;
    height: 32px;
    width: 64px
}

.valentino {
    background-position: -520px -348px;
    height: 24px;
    width: 80px
}

.prada {
    background-position: -604px -348px;
    height: 28px;
    width: 84px
}

.untitled40 {
    background-position: -216px -336px;
    height: 44px;
    width: 60px
}

.paulsmith {
    background-position: -112px -344px;
    height: 28px;
    width: 96px
}

.laprairie {
    background-position: -24px -336px;
    height: 36px;
    width: 80px
}

.lamer {
    background-position: -20px -392px;
    height: 24px;
    width: 72px
}

.habitat {
    background-position: -104px -388px;
    height: 36px;
    width: 104px
}

.esteelauder {
    background-position: -208px -392px;
    height: 32px;
    width: 128px
}

.loewe {
    background-position: -332px -392px;
    height: 28px;
    width: 68px
}

.johngalliano {
    background-position: -416px -392px;
    height: 36px;
    width: 64px
}

.pollini {
    background-position: -484px -396px;
    height: 32px;
    width: 92px
}

.agentprovocateur {
    background-position: -584px -388px;
    height: 36px;
    width: 88px
}

.vogue {
    background-position: -20px -432px;
    height: 32px;
    width: 84px
}

.cartier {
    background-position: -104px -432px;
    height: 32px;
    width: 92px
}

.christianlacroix {
    background-position: -200px -432px;
    height: 32px;
    width: 156px
}

.lagerfeld {
    background-position: -368px -440px;
    height: 20px;
    width: 84px
}

.alexandermqueen {
    background-position: -468px -436px;
    height: 28px;
    width: 92px
}

.veuveclicquot {
    background-position: -568px -436px;
    height: 28px;
    width: 116px
}

.gmund {
    background-position: -600px -472px;
    height: 44px;
    width: 72px
}

.dkny {
    background-position: -436px -488px;
    height: 20px;
    width: 152px
}

.moetchandon {
    background-position: -308px -472px;
    height: 48px;
    width: 116px
}

.marykay {
    background-position: -168px -480px;
    height: 32px;
    width: 132px
}

.renelezard {
    background-position: -24px -484px;
    height: 24px;
    width: 140px
}

.provinciadibergamo {
    background-position: -24px -528px;
    height: 28px;
    width: 196px
}

.dufferstgeorge {
    background-position: -232px -528px;
    height: 24px;
    width: 244px
}

