@font-face {
    font-family: "OptimusPrinceps";
    src: url('../fonts/OptimusPrinceps.ttf') format("truetype");
    url('../fonts/OptimusPrinceps.woff') format('woff'),
    url('../fonts/OptimusPrinceps.svg') format('svg');
}

h1.logo {
    font-family: "OptimusPrinceps", Helvetica, Arial;
    font-size: 26px;
}

.top-bar input, .top-bar .button, .top-bar button {
    font-size: 0.77778rem;
    position: relative;
    top: 7px;
}
.top-bar input {
    font-size: 0.75rem;
    height: auto;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
}
.top-bar form, .top-bar input {
     margin-bottom: 0;
 }

.top-bar ul li.search-form  {
    width: 250px;
}

div.overlay {
    opacity: .9;
    background-color: black;
    position: absolute;
    left: 0; top: 0;
    height: 256px; width: 256px;
    width: 100%;
    height: 400px;
}

#home {
    background: url('../img/bg.jpg') repeat scroll 0 0;
    height: 500px;
    background-size: cover;
    padding: 70px 20px 0;
    position: relative;
    text-align: center;
    color: #333333;
}

#home h1{color: #000000;}
#home .floatingyeti img {
    max-width: 50%;
    position: absolute;
    right: 100px;
    top: 30px;
}

#home  ul.inline-list {
    display: table;
    margin: 0 auto;
}

#home .inline-list li {
    display: table-cell;
}

#home [type=radio] {
    margin-right: 3px;
}

.homepage {
    padding: 20px 15px;
    max-width: 400px;
}


.brands{
    margin-top: 25px;
}

#wizard {
    border: 5px solid #778899;
    font-size: 12px;
    height: 650px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    background-color: white;
}

#wizard .items {
    clear: both;
    position: absolute;
    width: 20000em;
}
#wizard .page {
    float: left;
    padding: 20px 30px;
    width: 970px;
}
#wizard h2 {
    border-bottom: 1px dotted #CCCCCC;
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0 0;
    padding-bottom: 15px;
}

#wizard ul {
    margin: 0 auto !important;
    padding: 0 !important;
}
#wizard li {
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 25px;
}
#wizard label {
    font-size: 16px;
    margin-bottom: 10px;
}
#wizard label strong {
    color: #778899;
    position: relative;
    top: -1px;
}
#wizard label em {
    color: #666666;
    font-size: 11px;
    font-style: normal;
}

#wizard select {
    border: 1px solid #CCCCCC;
    padding: 4px;
    width: 94%;
}
#wizard label span {
    color: #B8128F;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 4px;
}
#wizard .double label {
    float: left;
    width: 50%;
}
#wizard .double .text {
    width: 93%;
}
#wizard .clearfix {
    clear: left;
    padding-top: 10px;
}
#wizard .right {
    float: right;
}

#wizard input[type=radio], #wizard input[type=checkbox]{
    display:none;
}

#wizard input[type=radio]:checked + img, #wizard input[type=checkbox]:checked + div {
    opacity: 0.6; filter: alpha(opacity=60);
    outline: 4px solid #cccccc;

}

#wizard img:hover {
    -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;
}

#drawer {
    border-bottom: 2px solid #778899;
    display: none;
    font-size: 18px;
    left: 0;
    overflow: visible;
    padding: 15px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
#wizard .error {
    border: 1px solid #FF0000;
}
#wizard #status {
    height: 35px;
    margin: 0 auto;
    padding-left: 25px !important;
}
#status li {
    color: #FFFFFF;
    background-color: #000000;
    float: left;
    list-style-image: none;
    list-style-type: none;
    padding: 10px 30px;
    text-transform: uppercase;
}
#status li.active {
    background-color: #B8128F;
    font-weight: normal;
}
