<ul class="side-nav" id="side-menu">
    <li><a href="<?php echo base_url() ?>/about" class="current">Über uns</a> </li>
    <li><a href="">Unsere Team</a></li>
    <li><a href="">Partner programm</a></li>
    <li><a href="">Terms and conditions</a></li>
    <li><a href="<?php echo base_url() ?>/contact">Kontakt</a></li>
</ul>